<!-- Numbers -->
	<div id="numbers" class="section sm-padding">

		<!-- Background Image -->
		<div class="bg-img" style="background-image: url('./img/background2.jpg');">
			<div class="overlay"></div>
		</div>
		<!-- /Background Image -->

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- number -->
				<div class="">
					<div class="number">
						<i class="fa fa-users"></i>
						<h3 class="white-text"><span class="counter">451</span></h3>
						<span class="white-text">Happy clients</span>
					</div>
				</div>
				<!-- /number -->


			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Numbers -->

	<!-- Pricing -->
	<div id="pricing" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">Pricing</h2>
				</div>
				<!-- /Section header -->

				<!-- pricing -->
			<div class="">
					<div class="pricing">
						<div class="price-head">
							<span class="price-title">Service Charges</span>
							<div class="price">
								<h3>$1<span class="duration">/ visit</span></h3>
							</div>
						</div>
						<ul class="price-content">
							<li>
								<p>Free visit</p>
							</li>
							<li>
								<p>If Booked</p>
							</li>
							<li>
								<p>Within 24 hours</p>
							</li>
						</ul>
						<div class="price-btn">
							<button class="outline-btn">Book now</button>
						</div>
					</div>
				</div>
				<!-- /pricing -->


			</div>
			<!-- Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Pricing -->